*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.conatiner{
    height: 400px;
    width: 500px;
background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}